header {
    height: 80px;

    .navbar{
      background-image: url('http://localhost:8000/storage/logos/navbar.jpg');
      background-size: cover;
      height: 60px;
      padding: 0;

      img{
        // width: 200px;
        height: 30px;
      }

      a{
        color: #fff;

        &:hover{
          color: #FEEEBC;
        }
      }

      .dropdown-menu{
        a:hover{
          color: #000;
          background-color: #FEEEBC;
        }
      }
    }
}
